body {
  /* background-color: #EDEDED; */
  background: #e7e8e9
  url(resources/assets/images/bg_body.png) repeat-x;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.clear {
  clear: both;
}
a {
  color: grey;
  text-decoration: none;
  background-color: transparent;
}
.nav {
  background-color: #fff;
  margin-bottom: 50px;
  padding-right: 30px;
  padding-bottom: 22px;
}
.white {
  background-color: #fff;
}
.navbar {
  padding: 0px 30px 0px 0px;
  margin-bottom: 50px;
}
.box {
  min-height: 50px;
  padding: 25px 20px 5px 20px;
  margin: 5px;
  /* color: #4CB2AC; */
  background-color: #fff;
  border-radius: 15px;
}
.left-align {float: left;}
.right-align {float: right;}

.active {
  background-color: #4CB2AC;
  overflow: hidden;
  font-size: 24px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  margin-left: 100px;
  text-decoration: none;
}
a:hover .active {
  background-color: #ddd;
  color: blue;
  }
.navbar-brand {
  background-color: #003754;
  overflow: hidden;
  font-size: 24px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  margin-left: 100px;
  text-decoration: none;
}
.navbar-light a.navbar-brand {
  color: #fff;
}
.navbar-light a:hover a.navbar-brand {
  color: #fff
}
p {
  /* color: #9EB4C7; */
  font-size: 16px;
}
.image1 {
  width: 100%;
  height: 300px;
  background-image: url('resources/assets/images/Fig1.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.image2 {
  width: 100%;
  height: 300px;
  background-image: url('resources/assets/images/Fig2.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.image3 {
  width: 100%;
  height: 300px;
  background-image: url('resources/assets/images/Fig3.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.image4 {
  width: 100%;
  height: 300px;
  background-image: url('resources/assets/images/Fig4.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.selected {
  border: 1px solid #4CB2AC;
}
#footer {
  /* position:fixed; */
  bottom:0;
  width:100%;
  height:40px;   /* Height of the footer */
  background-color:#003754;
  color: #fff;
  text-align: center;
  border-top-style: solid;
  border-top-color: #4CB2AC;
}
@media (max-width: 991px) {
  .bb-green {background-color: #808083;}
}
 