<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>KC Crime Chart - dataRockStars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/style/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light white bb-green">
    <a class="navbar-brand" href="/">dataRockStars</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav white">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Report
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="static/data/final-report.docx" download>Download</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="chart">Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="map">Map</a>
        </li>

      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="box">
          <h1>KC Crime Chart</h1>
          <hr />
          <p>Click on labels to interact with the chart</p>
          <div id="plot">
            <!-- We append our chart here. -->
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md">
                <h3>Crime Statistics</h3>
                <p>June and July were the highest reported crime months of 2018 (both at 9.2%).
                  Feb was the lowest at 6.9%, possibly because there are less days in Feb and it is one of the colder
                  months.</p>
                <p>No surprise here, 70% of crime was committed by males (29% female, 1% unknown).</p>
                <p>Top 3 crimes in 2018 were: Aggravated assault, stealing and non-aggravated assault</p>
                <p>Most frequent age range: 30-40</p>
                <p>15% of all crime was committed with a firearm.</p>
                Top 5 troublesome zipcodes:
                <ul>
                  <li>64130</li>
                  <li>64127</li>
                  <li>64106</li>
                  <li>64111</li>
                  <li>64134</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
  </div>
  <footer id="footer">dataRockStars &copy; copyright
    <script type="text/javascript">
      document.write(new Date().getFullYear());
    </script>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <script type="text/javascript" src="static/js/chart.js"></script>
</body>
</html>
